@using PagedList.Mvc;
@model PagedList.IPagedList<PVSbase.Должности>
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Должности</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
@using (Html.BeginForm("Index", "Doljnosti", FormMethod.Get))
{
    <fieldset>
        Наименование : @Html.TextBox("param")
        <input type="submit" value="Найти" />
    </fieldset>
}
<table class="features-table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Наименование
        </th>
        <th>
            Оклад
        </th>
        <th>
            Обязанности
        </th>
        <th>
            Требования
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDДолжности)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.НаименованиеДолжности)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Оклад)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Обязанности)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Требования)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.IDДолжности }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.IDДолжности }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.IDДолжности })
            </td>
        </tr>
    }

</table>
<div class="btn-group">
    @Html.PagedListPager(Model, x => Url.Action("Index", new { page = x, param = Request["param"] }))
</div>